div{
    display: block;
}
body{
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.display-1{
    font-weight: bold;
    color:  #00ACC1;
}

.display-5{
    font-size: medium;
    font-weight: bold;
    color:  #00ACC1;
}
.hr{
    size: 2px;
        color:#00ACC1;         
}
.btn{
    display: inline-block;
    padding:0.375rem 0.75rem;
    font-weight: 400;
    cursor: pointer;
    background-color: light;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
 /*@media (max-width: 768px) 
    .hero-symbol {
        display: none;
    }